* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color:burlywood;
    padding: 20px;
    border-radius: 10px;
}

li {
    width: 100%;
    overflow-wrap:anywhere;
}

.flex-layout {
    display: flex;
    justify-content: space-between;
}

.todos {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color:bisque;
}

.toDoItem {
    color: black;
    list-style: none;
    margin-left:-40px;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: beige;
    border-radius: 10px;
}

.completedToDoList {
    display:flex; 
    flex-direction: column-reverse;
    background-color: blanchedalmond;
    width: 50%;
}

.completedToDoItem {
    color: black;
    list-style: none;
    margin-left:-40px;
    padding: 12px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: rgb(110, 255, 110);
    border-radius: 10px;
    
}

.js-input {
    padding: 2px;
    border-radius: 4px;
    width: 300px;
}

